.calulator-root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.calculator-bg {
  background-color: rgb(10, 10, 10);
}

.calculator-button {
  box-shadow: 2px 2px 2px rgb(45, 45, 45);
  border-radius: 8px;
  background-color: #1a1a1a;
  color: whitesmoke;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 80px;
  width: 100px;
}

.calculator-button:hover {
  border-color: orange;
}

.calculator-button:focus,
.calculator-button:focus-visible {
  outline: none;
}

.calculator {
  height: 1%;
  border: 5px solid rgb(21, 21, 21);
  border-radius: 10px;
  max-width: 450px;
}

.display-panel {
  margin: 0;
  width: 100%;
  height: 100%;
}

.botonera {
  background-color: var(--back-color);
  margin-right: 25px;
  width: 96%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.display {
  color: gray;
  padding: 0% 4%;
  text-align: right;
  height: 100%;
  margin: 0;
}

.white {
  color: whitesmoke;
  font-size: 2vh
}

#NAC {
  background-color: brown;
  width: 98%;
  grid-column-start: 1;
  grid-column-end: span 2;
}

#N0 {
  width: 98%;
  grid-column-start: 1;
  grid-column-end: span 2;
}

#N\= {
  background-color: #646cff;
  height: 92%;
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: span 5;
}

.drum-pad:active,
.drum-pad_active {
  background-color: orange!important;
  outline: none;
  box-shadow: none;
}

.drum-pad:focus {
  outline: none
}

@media(max-width:500px) {
  .calculator-button {
    height: 4rem;
    width: 4rem;
  }

  .calculator h2 {
    font-size: 1.9em;
    line-height: 1.1;
  }
}
