---

import Quotes from '../components/quotes'
import Calculator from '../components/calculator'
import '../styles/styles.css'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
    <div>
      <Quotes client:load/>
    </div>
    <div>
      <Calculator client:load/>
    </div>
	</body>
</html>
